<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>192.168.0.8</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>KOEMOは音声通話を行うためにマイクへのアクセスが必要です。</string>
	<key>NSCameraUsageDescription</key>
	<string>KOEMOはプロフィール画像の撮影にカメラを使用します。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>KOEMOはプロフィール画像の選択に写真ライブラリを使用します。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>KOEMOは開発サーバーとの通信およびリアルタイム音声通話のためにローカルネットワークへのアクセスが必要です。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_ws._tcp</string>
	</array>
</dict>
</plist>
